:root {
    --arrow-size: 2rem;
    --corner-radius: 30px;
    --dark-text: #271e1e;
    --off-white: #fffef6;
}

* {
    color: var(--dark-text);
    background-color: var(--off-white);
}
/* global styles */
.round-corner {
    border-radius: var(--corner-radius);
}

h1 {
    font-size: 5rem;
}
h2 {
    text-align: center;
}
.big-box {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    padding: 0;
}
.accordion {
    --bs-accordion-border-radius: var(--corner-radius);
    --bs-accordion-inner-border-radius: var(--corner-radius);
}
.box {
    height: calc(100% - var(--arrow-size));
    width: calc(100% - var(--arrow-size));
}

.arrow-down {
    height: var(--arrow-size);
    width: var(--arrow-size);
    text-align: center;
    position: absolute;
    bottom: calc(-0.5 * var(--arrow-size)); /* half outside */
    left: 0;
    right: 0;
    margin: 0 auto; /* center horizontally */
    font-size: 1.4rem;
    z-index: 90;
}

.arrow-right {
    height: var(--arrow-size);
    width: var(--arrow-size);
    position: absolute;
    top: 50%;
    right: calc(-0.5 * var(--arrow-size)); /* half outside */
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.4rem;
    z-index: 90;
}

.arrow-fade-start {
    height: var(--arrow-size);
    width: var(--arrow-size);
    background-color: green;
    position: absolute;
    top: 50%;
    right: calc(-0.5 * var(--arrow-size)); /* half outside */
    transform: translateY(-50%);
}

.arrow-fade-end {
    height: var(--arrow-size);
    width: var(--arrow-size);
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: calc(-0.5 * var(--arrow-size)); /* half outside */
    transform: translateY(-50%);
}
